<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CCAPMetlife" connectionString="LSCPeCLEedJ9W1mj6iQ2XLZiZDZzNgW1W18cqzbDwnr+q/N9Y3Kg1xFJhSEKXj7c+L7QY2/zMRxuT3AiXkpF9+HwaWhNDHw9NqBopPWf7KZDmXPt1rJKlvvG4wwfDHS6" />
  </connectionStrings>
  <appSettings>
    <add key="ServerPath" value="\\ctsintbmvmetd\CCAPQ Share" />
    <add key="ServerName" value="i9au288/0BEBrKHtD5vH2A==" />
    <add key="ServerUserid" value="oj5ClNnoHXs1VFLvs+Ym/Q==" />
    <add key="ServerPwd" value="HXhsPvB3XwIB5XEHZDGAMA==" />
    <add key="CCAPTrayApp" value="CCAPQConsole.exe" />
    <add key="ManageQueue" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>